/**** colors ****/

$color-white: #fff;
$color-black: #000;
$color-transparent: transparent;
$color-grey-light: #f0f0f0;

$color-purple: #efdcf8;

$color-green: #19a595;
$color-green-light: rgb(195,238,232);
$color-purple-dark: rgb(91,39,98);
$color-orange: #f47f00;

/* f6c343 */
$color-yellow: #fec201;
$color-red: #f06f4f;
