.grid-wrap {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  @media (min-width: $mobile) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.grid-wrap-top {
  padding-top: 50px;
  padding-bottom: 50px;
}

.grid-item {
  &--small {
    max-width: 400px;
  }
}
