// Helpers

// Alignment
.left {text-align: left;}
.center {text-align: center;}
.right {text-align: right;}

.center-block {margin-left: auto; margin-right: auto;}

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.horizontal-align {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.center-align {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inline {
  &-wrapper {
    font-size: 0em;
    display: block;
  }
  &__item {
    display: inline-block;
    vertical-align: top;
  }
}


// Visibility
.is-hidden {
    display: none;
}

// Clearfix
.clearfix,
.cf {
    &::before,
    &::after {
        content: ' ';
        display: table;
    }

    &::after {
        clear: both;
    }
}

.no-flicker {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
}

.reset-input {
  outline: none;
  background: transparent;
  border:0;
  border-radius: 0;
}

.reset-list {
  list-style: none;
}

.borders {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  &--top {
    border-top: 2px solid #000;
  }
  &--bottom {
    border-bottom: 2px solid #000;
  }
}

.border {
  &--bottom {
    border-bottom: 1px solid #000;
  }
}

// Colors
.white {
  color: white;
}

.black, a.black {
  color: black;
}

.bg-green {
  background: $color-green;
}

.bg-green--light {
  background: $color-green-light;
}

.bg-purple {
  background: $color-purple;
}

.bg-white {
  background: $color-white;
}

// Div
.nowrap {
    white-space: nowrap;
}

.block {
  max-width: 475px;
  margin: 0 auto;
  &--large {
    max-width: 800px;
  }
}

.vertical-list {
  display: block;
  font-size: 0em;
  width: 100%;
  overflow: hidden;
  &__item {
    display: inline-block;
    font-size: 1rem;
  }
}

.font-neutral {
  font-family: $font-neutral;
}

.font-neutral-b, a.font-neutral-b {
  font-family: $font-neutral-bold;
  -webkit-font-smoothing: auto;
}

.block-elem {
  display: block;
}

.underline {
  text-decoration: underline;
}

.arrow-transition {
  backface-visibility: hidden;
  transition: transform .15s cubic-bezier(.25,.46,.45,.94);
}

// Margin and padding
.mb--xxsmall {
  margin-bottom: 20px;
  @media (min-width: $mobile) {
    margin-bottom: calc(4px + 1vw);
  }
}
.mb--xsmall {margin-bottom: calc(8px + 1vw);}
.mb--small {margin-bottom: calc(16px + 1vw);}
.mb {margin-bottom: calc(32px + 1vw);}
.mb--large {margin-bottom: calc(64px + 1vw);}
.mb--xlarge {margin-bottom: calc(128px + 1vw);}
.mb--none {margin-bottom: 0}

.mt--xxsmall {margin-top: calc(4px + 1vw);}
.mt--xsmall {margin-top: calc(8px + 1vw);}
.mt--small {margin-top: calc(16px + 1vw);}
.mt {margin-top: calc(32px + 1vw);}
.mt--large {margin-top: calc(64px + 1vw);}
.mt--xlarge {margin-top: calc(128px + 1vw);}
.mt--xxlarge {margin-top: calc(192px + 1vw);}
.mt--none, p.mt--none {margin-top: 0}

.pb--xxsmall {padding-bottom: calc(4px + 1vw);}
.pb--xsmall {padding-bottom: calc(8px + 1vw);}
.pb--small {padding-bottom: calc(16px + 1vw);}
.pb {padding-bottom: calc(32px + 1vw);}
.pb--large {padding-bottom: calc(64px + 1vw);}
.pb--xlarge {padding-bottom: calc(128px + 1vw);}
.pb--none {padding-bottom: 0}

.pt--xxsmall {padding-top: calc(4px + 1vw);}
.pt--xsmall {padding-top: calc(8px + 1vw);}
.pt--small {padding-top: calc(16px + 1vw);}
.pt {padding-top: calc(32px + 1vw);}
.pt--large {padding-top: calc(64px + 1vw);}
.pt--xlarge {padding-top: calc(128px + 1vw);}
.pt--none {padding-top: 0}

.pl {
  padding-left: calc(25px + 1.2vw);
}

.pr {
  padding-right: calc(25px + 1.2vw);
}

.no-pr--3:nth-child(3n) {
  padding-right: 0px;
}
