<!-- Start campaign signup -->
<div class="grid-wrap">
  <div class="mt--large mb--large">
    <div class="center-block inline-wrapper block__full extras-campaign-fullwidth" data-reveal>
      <div class="extras-campaign-grid">
        <div class="u-1/3 inline__item pr">
          <h2 class="pb--small custom-heading extras-campaign-heading">Vi hjelper deg med personalansvar</h2>
          <p class="lead-p font-neutral pb--small extras-campaign-lead">Her finner du temasider for arbeidsrett, personal, ledelse og HMS. Mulighet til personlig rådgivning hvis du står fast.</p>
          <div class="pb--smaller extras-campaign-button-wrap">
            <button class="lh-button lh-button--icon" data-show="registration">
              <span class="lh-button__text">Prøv gratis</span>
              <svg class="lh-button__arrow" width="12" height="8" viewBox="0 0 177 118">
                <path d="M117.3,47V0l58.9,58.6l-58.9,59.2V70.3H0.3V47H117.3z"/>
              </svg>
            </button>
          </div>
          <div class="pb--small extras-campaign-button-wrap">
            <button class="lh-button lh-button--icon">
              <span class="lh-button__text">Bestill</span>
              <svg class="lh-button__arrow" width="12" height="8" viewBox="0 0 177 118">
                <path d="M117.3,47V0l58.9,58.6l-58.9,59.2V70.3H0.3V47H117.3z"/>
              </svg>
            </button>        
          </div>
          <div>
            <p><a href="#" class="video__caption font-neutral border--bottom-thin">Allerede abonnement? Logg inn</a></p>
          </div>
        </div>
        <div class="u-2/3 inline__item pl pt--mobile">
          <!-- Insert video here and remove image placeholder below -->
          <img src="/assets/video-purple-playbutton.png" alt="video placeholder" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End campaign signup -->
