<button class="lh-button lh-button--icon">
  <span class="lh-button__text">{{ buttonText }}</span>
  <svg class="lh-button__arrow" width="12" height="8" viewBox="0 0 177 118">
    <path d="M117.3,47V0l58.9,58.6l-58.9,59.2V70.3H0.3V47H117.3z"/>
  </svg>
</button>
