.search {
  position: relative;
  &__wrapper {
    position: relative;
    border-bottom: 2px solid transparent;
  }
  &__input {
    width: 100%;
    background: transparent;
    font-family: $font-larish;
    font-size: calc(100px + .7vw);
    border: 0;
    outline: 0;
  }
  &__input::placeholder {
      color: #000;
      opacity: 1;
  }
  &__input:-ms-input-placeholder {
      color: #000;
  }
  &__input::-ms-input-placeholder {
      color: #000;
  }
  &__typed-cursor {
    opacity: 1;
    -webkit-animation: blink 1s infinite;
    animation: blink 1s infinite;
    &:after {
      content: '';
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      right: -8px;
      background: #000;
    }
  }
  &__close {
    border: 0;
    background: transparent;
    width: 60px;
    height: 60px;
    position: absolute;
    top: -40px;
    right: 40px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    .close__icon {
      &:after, &:before {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        background: #000;
      }
      &:after {
        transform: translateY(-40px) rotate(-135deg)
      }
      &:before {
        transform: translateY(-40px) rotate(135deg)
      }
    }
  }
  &__results ul {
    opacity: 0;
    transform: translateY(12px);
  }
}
