.main-menu {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: $color-green-light;
  padding: 20vh 0;
  color: $color-black;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  &__items {
    list-style: none;
  }
  &__item {
    display: block;
    font-size: 24px;
    line-height: 1.5;
    @media (min-width: $mobile) {
      font-size: 30px;
    }
  }
  .inline__item img {
    @media (max-width: $mobile) {
      display: none;
    }
  }
}
