.login {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 9998;
  backface-visibility: hidden;
  background: $color-green-light;
  color: $color-black;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  .login__close-wrapper {
    z-index: 9999;
    position: relative;
    background: #fff;
  }
  .inline-wrapper:last-child {
    padding-bottom: 1px;
  }
  &__outer {
    position: relative;
    @media (max-width: $mobile) {
      top: 150px;
    }
    @media (min-width: $mobile) {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: 4;
    }
    @media (min-width: $maxWidth) {
      max-width: 1200px;
      margin: 0;
      padding: 0;
    }
  }
  &__wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    @media (min-width: $mobile) {
      max-width: 1000px;
      min-width: 600px;
      width: 80%;
    }
    @media (min-width: $maxWidth) {
      margin-top: 25px;
      max-width: 100%;
      width: 100%;
    }
  }
  &__input, &__submit {
    border: 0;
    border-radius: 0;
    background: transparent;
    outline: 0;
  }
  &__input {
    position: relative;
    width: 100%;
    padding: 18px 0px 2px 0px;
    z-index: 1;
    font-family: $font-larish;
    @media (max-width: $mobile) {
      font-size: 20px;
    }
    @media (min-width: $mobile) {
      padding: 1vw 0;
    }
    @media (min-width: $maxWidth) {
      padding: 22px 0;
    }
  }
  &__submit {
    font-family: $font-neutral;
    @media (max-width: $mobile) {
      margin-bottom: 80px;
    }
  }
  &__placeholder {
    position: absolute;
    top: 23px;
    left: 0;
    z-index: -1;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    @media (max-width: $mobile) {
      font-size: 14px;
    }
    @media (min-width: $mobile) {
      top: 2vw;
    }
    @media (min-width: $maxWidth) {
      top: 44px;
    }
  }
  .input__wrapper {
    position: relative;
    border-bottom: 2px solid;
    &--filled .login__placeholder {
      top: -10px;
      @media (min-width: $mobile) {
        top: -2vw;
      }
      @media (min-width: $maxWidth) {
        top: -44px;
      }
    }
  }
  &__input:focus ~ &__placeholder {
    top: -10px;
    @media (min-width: $mobile) {
      top: -2vw;
    }
    @media (min-width: $maxWidth) {
      top: -44px;
    }
  }
  input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 100px $color-green-light inset;
  }
  &__extra {
    &.right {
      @media (max-width: $mobile) {
        text-align: left;
      }
    }
  }
  &__extra-link {
    @media (max-width: $mobile) {
      &:first-child {
        margin-right: 20px;
      }
    }
  }
  #loginClose, #registrationClose {
    top: 56px;
    right: 9px;
    width: 21px;
    height: 21px;
    float: right;
    position: relative;
    @media (min-width: $mobile) {
      top: 5vw;  
      right: 0;
      width: 1.7vw;
      height: 1.7vw;
      min-width: 27px;
      min-height: 27px;
    }
    @media (min-width: $maxWidth) {
      right: 0;
      width: 35px;
      height: 35px;
      top: 120px;
    }
    .close__text {
      position: absolute;
      left: -65px;
      top: 4px;
      line-height: 1;
      padding-bottom: 0;
      @media (min-width: $mobile) {
        left: -4vw;
        top: -0.1vw;
      }
      @media (min-width: $maxWidth) {
        top: 6px;
        left: -68px;
      }
    }
  }
}
