@keyframes loadingC {
    0 {transform: translate(0,0);}
    50% {transform: translate(0,10px);}
    100% {transform: translate(0,0);}
}

.dots {
  position:absolute;
  right: 35px;
  top: 5px;
  margin: 20px 0 0 0;
  visibility: hidden;
  .dot {
    position:absolute;
    width: .5vw;
    height: .5vw;
    border-radius: 50%;
    background-color:$color-green;
    &:first-child {
      left: -1.1vw;
      animation: loadingC .6s .1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    }
    &:nth-child(2) {
      animation: loadingC .6s .2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    }
    &:last-child {
      left: 1.1vw;
      animation: loadingC .6s .3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    }
  }
}
