.block {
  width: 100%;
  margin: 0 auto;
  @media (min-width: $mobile) {
    width: 50%;
  }
  @media (max-width: $mobile) and (min-width: $mobile-smallest) {
    width: 75%;
  }
  &--medium {
    @media (min-width: $mobile) {
      width: calc(63.66666%);
    }
  }
  &--large {
    @media (min-width: $mobile) {
      width: calc(83.333333%);
    }
  }
}
