.page-header {
  z-index: 9999;
  position: relative;
  background: #fff;
  .menu {
    position: relative;
    &__non-nav-inner, &__non-nav {
      position: relative;
    }
    &__logo {
      font-size: 22px;
      color: $color-black;
      text-decoration: none;
      @media (min-width: $mobile) {
        font-size: $headingH3;
      }
    }
    &__search {
      &-form {
        display: inline-block;
        border-bottom: 1px solid $color-black;
      }
      &-icon {

      }
    }
  }
}
