footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  .inline-wrapper {
    @media (min-width: $mobile) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
    }
  }
  .main-menu {
    position: inherit;
    opacity: 1;
    visibility: visible;
    overflow-y: hidden;
    @media (max-width: $mobile) {
      padding: 60px 0px;
      height: auto;
      position: relative;
    }
    @media (min-width: $maxWidth) {
      padding: 200px 0px;
    }
  }
}
