footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  min-height: 20vw;
  .main-menu {
    opacity: 1;
    visibility: visible;
    overflow-y: hidden;
    position: initial;
    height: auto;
    padding: 0;
    @media (max-width: $mobile) {
      .mobile-image {
        display: block;
      }
    }
  }
}

#tr-footer {
  min-height: 1px;
  width:100%;
  background:transparent;
}
