.page-header {
  z-index: 9999;
  position: relative;
  .menu {
    position: relative;
    &__non-nav-inner {
      position: relative;
    }
    &__logo {
      font-size: $headingH3;
      color: $color-black;
      text-decoration: none;
    }
    &__search {
      &-form {
        display: inline-block;
        border-bottom: 1px solid $color-black;
      }
      &-icon {

      }
    }
  }
}
