.search {
  &__wrapper {
    position: relative;
    border-bottom: 2px solid transparent;
  }
  &__input {
    width: 100%;
    background: transparent;
    font-family: $font-larish;
    font-size: calc(100px + .7vw);
    border: 0;
    outline: 0;
  }
  &__input::placeholder {
      color: #000;
      opacity: 1;
  }
  &__input:-ms-input-placeholder {
      color: #000;
  }
  &__input::-ms-input-placeholder {
      color: #000;
  }
  &__typed-cursor {
    opacity: 1;
    -webkit-animation: blink 1s infinite;
    animation: blink 1s infinite;
    &:after {
      content: '';
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      right: -8px;
      background: #000;
    }
  }
}

#searchResults ul {
  opacity: 0;
  transform: translateY(10px);
}

@-webkit-keyframes blink {
  0% {opacity: 1; }
  50% {opacity: 0; }
  100% {opacity: 1; }
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
