.login {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: $color-green-light;
  padding: 150px 0px;
  color: $color-black;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  @media (min-width: $mobile) {
    padding: 20vh 0;
  }
  &__wrapper {
    position: relative;
    max-width: 75%;
    margin: 0 auto;
    margin-top: 10%;    
  }
  &__input, &__submit {
    border: 0;
    border-radius: 0;
    background: transparent;
    outline: 0;
  }
  &__input {
    position: relative;
    width: 100%;
    padding: 8px 0px;
    z-index: 1;
    font-family: $font-larish;
  }
  &__submit {
    font-family: $font-neutral;
  }
  &__placeholder {
    position: absolute;
    top: 2vw;
    left: 0;
    z-index: -1;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .input__wrapper {
    position: relative;
    border-bottom: 2px solid;
    &--filled .login__placeholder {
      top: -2vw;
    }
  }
  &__input:focus ~ &__placeholder {
    top: -2vw;
  }
  input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 100px $color-green-light inset;
  }
  #loginClose, #registrationClose {
    top: 5vw;
    right: 11.12vw;
    .close__text {
      position: absolute;
      left: -69px;
      top: 50%;
    }
  }
}
