.edit-form {
  &__wrapper {
    position: relative;
    overflow: hidden;
  }
  &__input {
    outline: none;
    background: transparent;
    border:0;
    border-radius: 0;
    width: 100%;
    transition: color .15s ease-out;
    &:disabled {
      color: #000;
    }
    &.active {
      color: $color-green;
    }
  }
  &__save-btn {
    padding: 0;
    background: transparent;
    outline: 0;
    height: auto;
    display: inline;
    line-height: 1.2vw;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
    &.lh-button {
      margin: 20px 0 0 0;
      padding: .5vw 1vw .3vw 1vw;
      font-size: 1vw;
    }
  }
  &__edit-btn {
    display: inline-block;
    span {
      line-height: 1.2vw;
    }
  }
  &__dots {
    position:absolute;
    right: 35px;
    top: 5px;
    margin: 20px 0 0 0;
    visibility: hidden;
  }
}
