.search {
  position: relative;
  &__wrapper {
    position: relative;
    border-bottom: 2px solid transparent;
  }
  &__results {
    .list__item:first-child {
      border-top: 0;
    }
  }
  &__input {
    width: 100%;
    background: transparent;
    font-family: $font-larish;
    font-size: $headingH3;
    border: 0;
    outline: 0;
  }
  &__input::placeholder {
      color: #000;
      opacity: 1;
  }
  &__input:-ms-input-placeholder {
      color: #000;
  }
  &__input::-ms-input-placeholder {
      color: #000;
  }
  &__typed-cursor {
    opacity: 1;
    -webkit-animation: blink 1s infinite;
    animation: blink 1s infinite;
    &:after {
      content: '';
      background: #000;
      position: absolute;
      width: 1px;
      height: 5.5vw;
      right: 1.5vw;
      top: 50%;
      transform: translate(0%,-50%);
    }
  }
  &__submit {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    border: 0;
    border-radius: 0;
    background: transparent;
  }
  &__icon {
    display: block;
    cursor: pointer;
    width: 2.5vw;
    height: 2.5vw;
    .circle {
      position: relative;
      display: block;
      height: 60%;
      width: 60%;
      background-color: #fff;
      border-radius: 50%;
      border: 2px solid #000;
      transition: all 0.6 cubic-bezier(0.25, 1.7, 0.35, 0.8);
      z-index: 1;
      right: -12px;
      top: 4px;
    }
    .handle {
      position: absolute;
      background-color: #000;
      top: 78%;
      right: 6px;
      height: 5%;
      width: 0%;
      display: block;
      transform: rotate(45deg);
      border-radius: 2px;
      &:after {
        content: "";
        background-color: #000;
        width: 1vw;
        min-width: 20px;
        height: 2px;
        display: block;
        float: right;
        border-radius: 2px;
        transition: all .6 cubic-bezier(.25,1.7,.35,.8);
        z-index: -1;
      }
    }
  }
  &__close {
    border: 0;
    background: transparent;
    position: absolute;
    top: -1vw;
    right: -.7vw;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    width: 2.5vw;
    height: 2.5vw;
    &:hover {
      .close__icon {
        &:after, &:before {
          transform: translateX(-30px) rotate(0deg)
        }
      }
    }
    .close__icon {
      transition: transform .15s cubic-bezier(.455,.03,.515,.955);
      &:after, &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #000;
        transition: transform .15s cubic-bezier(.455,.03,.515,.955);
      }
      &:after {
        transform: translateX(-30px) rotate(-45deg)
      }
      &:before {
        transform: translateX(-30px) rotate(45deg)
      }
    }
  }
  &__results ul {
    opacity: 0;
    transform: translateY(12px);
  }
}
