<header id="virke-header" class="virke-header">
  <div class="grid-wrap">
    <div class="virke-header__wrapper pt--xxsmall pb--xxsmall">
      <div class="vertical-list__item u-1/2 virke-header__item">
        <img class="virke-header__logo" src="/assets/virke_logo_black.png" alt="Virke logo" />
      </div>
      <div class="vertical-list__item u-1/2 virke-header__item">
        <a class="virke-header__url" href="#">
          <svg class="virke-header__svg arrow-transition" viewBox="0 0 99 66" width="12" height="8">
            <path d="M33.4,39.4v26.1L0.8,33L33.4,0.1v26.4h64.9v13H33.4z"/>
          </svg>
          <p class="font-neutral-b virke-header__text">Tilbake til VirkePluss</p>
        </a>
      </div>
    </div>
  </div>
</header>

<header id="page-header">
  <div class="page-header">
    <div class="grid-wrap">
      <div class="menu__non-nav">
        <div class="menu__non-nav-inner grid-wrap-top vertical-list">

          <div class="menu__login vertical-list__item u-1/3">
            {% if craft.session.isLoggedIn %}
              <a class="borders--bottom font-neutral" data-show="logIn" href="#">{{ currentUser.firstName }}</a>
            {% else %}
              <a class="borders--bottom font-neutral" data-show="logIn" href="#">Logg inn</a>
            {% endif %}
          </div>

          <div class="menu__logo-wrap vertical-list__item center u-1/3">
            <a href="/" class="menu__logo">{{ siteName }}</a>
          </div>

          <div class="vertical-list__item right font-neutral u-1/3">
            <div class="menu__toggle" id="menu__toggle">
              <span class="menu__button-title">Meny</span>
              <div class="menu__button no-flicker">
                <span class="menu__button-bar menu__button-bar--top no-flicker"></span>
                <span class="menu__button-bar menu__button-bar--middle no-flicker"></span>
                <span class="menu__button-bar menu__button-bar--bottom no-flicker"></span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  {% include 'partials/menu' %}
  {% include 'partials/login' %}
  {% include 'partials/registration' %}
</header>
