<nav id="login" class="login">
  <div class="grid-wrap">
    <button class="login__close close" id="loginClose">
      <div class="close__text-wrapper">
        <span class="close__text borders--bottom paragraph">Lukk</span>
      </div>
      <div class="close__icon-wrapper">
        <span class="close__icon"></span>
      </div>
    </button>
  </div>
  <div class="grid-wrap login__outer">
    <div class="login__wrapper">
      <div class="login__inner">
        <form id="login-form" method="post" accept-charset="UTF-8">
            {{ getCsrfInput() }}
            <input type="hidden" name="{{ craft.config.csrfTokenName }}" value="{{ craft.request.csrfToken }}">
            <input type="hidden" name="action" value="users/login">

            {% include "shared/input" with {
              'inputId' : 'login-email',
              'inputType' : 'text',
              'inputVal' : craft.session.rememberedUsername,
              'inputPlaceholder' : 'Brukernavn (e-post)',
              'inputName' : 'loginName'
          	} %}

            {% include "shared/input" with {
              'inputId' : 'login-pass',
              'inputType' : 'password',
              'inputPlaceholder' : 'Passord',
              'inputName' : 'password'
          	} %}

            <div class="inline-wrapper">
              <div class="u-1/2 inline__item pr">
                <button class="login__submit input__submit lh-button lh-button--icon paragraph" type="submit">
                  <span class="lh-button__text">Logg meg inn</span>
                  <svg class="lh-button__arrow" width="12" height="8" viewBox="0 0 177 118">
                    <path d="M117.3,47V0l58.9,58.6l-58.9,59.2V70.3H0.3V47H117.3z"/>
                  </svg>
                </button>
              </div>
              <div class="u-1/2 inline__item right pl login__extra">
                <a class="login__extra-link font-neutral paragraph borders--bottom mr" href="#">Opprett ny bruker</a>
                <a class="login__extra-link font-neutral paragraph borders--bottom" href="#">Glemt passord?</a>
              </div>
            </div>

            <div class="error-box mt">
              <p class="paragraph font-neutral">Feil brukernavn eller passord</p>
            </div>
        </form>
      </div>
		</div>
  </div>
</nav>
<div class="login__success">
  <div class="dots">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
</div>
