{% extends "_layout" %}
{% set title = "404" %}

{% block content %}
<div class="grid-wrap mt--xlarge mb--xlarge pb--xlarge">
	<h1 class="center mb--xsmall">Ooops!</h1>
	<h2 class="center mb">404 error - broken link</h2>
	<p class="center-block font-neutral paragraph">The page you where looking for could not be found!</p>
</div>
{% endblock %}
