{% extends "_layout" %}
{% set title = "404" %}

{% block content %}
<div class="grid-wrap mt--xlarge">
	<h1 class="center">We're sorry!</h1>
	<p class="center">The page you where looking for could not be found!</p>
</div>
{% endblock %}
