{% extends "_layout" %}
{% set featuredCategories = entry.categories %}
{% set featuredIds = entry.categories.ids() %}

{% block content %}
	<div class="grid-wrap">

		{% if craft.session.isLoggedIn %}
			{% include 'shared/frontpageLoggedIn' %}
		{% else %}
			{% include 'shared/frontpageLoggedOut' %}
		{% endif %}

	</div>
{% endblock %}
