{% extends "_layout" %}
{% set categories = craft.categories.group('default').order('title') %}

{% block content %}
	<div class="grid-wrap">

		<div class="colors" style="display:block;font-size:0em;">
			<div style="width:150px;height:150px;display:inline-block;background:rgb(91,39,98)"></div>
			<div style="width:150px;height:150px;display:inline-block;background:#19a595"></div>
			<div style="width:150px;height:150px;display:inline-block;background:rgb(195,238,232)"></div>
			<div style="width:150px;height:150px;display:inline-block;background:#f47f00"></div>
			<div style="width:150px;height:150px;background:black;display:inline-block"></div>
		</div>

		<div class="search pb--large pt--large">
			<div class="u-1/2 center-block search__wrapper">
				<input class="search__input" type="text" placeholder="Søk etter noe" id="mainSearch">
				<span class="search__typed-cursor"></span>
			</div>
			<button class="search__close" id="searchClose">
				<span class="close__icon"></span>
			</button>
	  </div>

		<div class="search__results u-1/2 center-block" id="searchResults">
			<ul class="list reset-list">
			</ul>
		</div>

		<div class="mt--large mb--large" id="allEntries">
			{% for category in categories %}
			{% if category.image|length %}
				<img src="{{ category.image.first().getUrl('') }}" alt="" />
			{% endif %}
			<div class="pb--large grid-item--small center-block">
				<h3 class="pb center">{{ category.title }}</h3>
				<ul class="list reset-list">
					{% for entry in craft.entries.section('article').relatedTo(category) %}
					<li class="list__item">
						<a class="font-neutral" href="{{entry.url}}">{{entry.title}}</a><br>
					</li>
					{% endfor %}
				</ul>
			</div>
			{% endfor %}
		</div>

	</div>
{% endblock %}
