{% extends "_layout" %}
{% set categories = craft.categories.group('default').order('title') %}

{% block content %}
	<div class="grid-wrap">

		<div class="lh-search-wrapper bg-green pb--large pt--large">
			<div class="u-4/5 center-block">
				<input class="center" type="text" id="mainSearch">
			</div>
	  </div>

		<div class="mt--large mb--large" id="allEntries">
			{% for category in categories %}
			<div class="pb--large grid-item--small center-block">
				<h3 class="pb center">{{ category.title }}</h3>
				<ul class="list reset-list">
					{% for entry in craft.entries.section('article').relatedTo(category) %}
					<li class="list__item">
						<a class="font-neutral" href="{{entry.url}}">{{entry.title}}</a><br>
					</li>
					{% endfor %}
				</ul>
			</div>
			{% endfor %}
		</div>

	</div>
{% endblock %}
