{% extends "_layout" %}

{% block content %}
	{% if craft.session.isLoggedIn %}
		<div class="home home--loggedin">
			{% include 'shared/frontpageLoggedIn' %}
		</div>
	{% else %}
		<div class="home home--loggedout">
			{% include 'shared/frontpageLoggedOut' %}
		</div>
	{% endif %}
{% endblock %}
