{% extends "_layout" %}
{% block content %}

<div class="grid-wrap mb--xlarge">
  <div data-reveal class="center pb--large pt--large" data-reveal>
    <h1>Hei, {{ currentUser.firstName }}</h1>
  </div>

  <div data-reveal class="mb--large">
    <div class="inline-wrapper borders--top pt--small pb--small">
      <div class="inline__item u-1/3">
        <p class="paragraph font-neutral-b">Brukernavn (e-post)</p>
      </div>
      <div class="inline__item u-1/3">
        <p class="paragraph font-neutral">{{ currentUser.email }}</p>
      </div>
      <div class="inline__item right u-1/3">
        <a data-edit="username" class="paragraph font-neutral" href="#">Endre</a>
      </div>
    </div>
    <div class="inline-wrapper borders pt--small pb--small">
      <div class="inline__item u-1/3">
        <p class="paragraph font-neutral-b">Passord</p>
      </div>
      <div class="inline__item u-1/3">
        <p class="paragraph font-neutral">***************</p>
      </div>
      <div class="inline__item right u-1/3">
        <a data-edit="username" class="paragraph font-neutral" href="#">Endre</a>
      </div>
    </div>
    <button class="lh-button mt--small">Logg meg ut</button>
  </div>

  <div data-reveal class="mb">
    <h3 class="mb--small">Personalia</h3>
    <div class="inline-wrapper borders--top pt--small pb--small">
      <div class="inline__item u-1/3">
        <p class="paragraph font-neutral-b">Fornavn</p>
      </div>
      <div class="inline__item u-1/3">
        <p class="paragraph font-neutral">{{ currentUser.firstName }}</p>
      </div>
      <div class="inline__item right u-1/3">
        <a data-edit="username" class="paragraph font-neutral" href="#">Endre</a>
      </div>
    </div>
    <div class="inline-wrapper borders pt--small pb--small">
      <div class="inline__item u-1/3">
        <p class="paragraph font-neutral-b">Fornavn</p>
      </div>
      <div class="inline__item u-1/3">
        <p class="paragraph font-neutral">{{ currentUser.firstName }}</p>
      </div>
      <div class="inline__item right u-1/3">
        <a data-edit="username" class="paragraph font-neutral" href="#">Endre</a>
      </div>
    </div>
  </div>

</div>

{% endblock %}
