.article {
  position: relative;
  &-wrap {
    position: relative;
    overflow: hidden;
  }
  h1 {
    margin-top: 100px;
    margin-bottom: 80px;
  }
  p {
    font-family: $font-neutral;
    font-size: 14px;
    line-height: 24px;
    margin-top: 25px;
  }
  .text {
    h2 {
      font-size: 29px;
      line-height: 1.3em;
      margin-top: 60px;
    }
    h3 {
      font-family: $font-neutral-bold;
      font-size: 15px;
      line-height: 1.3em;
      margin-top: 40px;
    }
    h3 + p {
      margin-top: 5px;
    }
    a {
      color: $color-green-x;
      background-image: linear-gradient(to right, $color-green-x 33%, rgba(0,0,0,0) 0%);
      background-position: bottom;
      background-size: 4px 1px;
      background-repeat: repeat-x;
    }
  }
  .accordion {
    margin-top: 40px;
    &__button {
      cursor: pointer;
      width: 100%;
      position: relative;
      text-align: left;
      padding: 20px 0px;
      color: $color-green-x;
      border: 0;
      background: transparent;
      margin: 0;
    }
    &__arrow {
      position: absolute;
      top: 50%;
      right: 0;
      transition: transform 0.28s cubic-bezier(0.39, 0.575, 0.565, 1);
      -webkit-transition: -webkit-transform 0.28s cubic-bezier(0.39, 0.575, 0.565, 1);
      transform: translate(0%, -50%);
      -webkit-transform: translate(0%, -50%);
      &.clicked {
        transform: translate(0%, -50%) rotate(-180deg);
        -webkit-transform: translate(0%, -50%) rotate(-180deg);
      }
      &-path {
        fill: $color-green-x;
      }
    }
    &__content {
      opacity: 0;
      height: 0;
    }
    &__inner {
      max-width: 95%;
      padding-bottom: 44px;
      margin-top: -24px;
      display: none;
    }
  }
}
