.list {
  &--no-style {
    list-style: none;
  }
  &__title {
    color: $color-green;
    display: block;
    max-width: 94%;
    float: left;
  }
  &__description {
    display: block;
    color: #000;
  }
  &__item {
    border-bottom: 2px solid #000;
    a {
      display: block;
      @media (max-width: $mobile) {
        line-height: 1.5;
      }
    }
    &:first-child {
      border-top: 2px solid #000;
    }
    &--hover-bg {
      transition: background-color .2s ease;
      &:hover, &:focus, &.active {
        background-color: $color-green-light;
      }
    }
    &--resources {
      a {
        position: relative;
        overflow: hidden;
      }
      .list__arrow-download {
        float: right;
        margin-top: 5px;
        width: 12px;
        height: auto;
        @media (min-width: $mobile) {
          width: 0.6vw;
        }
        @media (min-width: $maxWidth) {
          width: 14px;
        }
        path {
          fill: $color-green;
        }
      }
    }
  }
  &__item__wrapper {
    height: 0;
    overflow: hidden;
    .frontpage-list__item:last-child {
    }
  }
}

.resources-list {
  a {
    border-bottom: 2px solid #000;
    /*&:hover, &.focus {
      .arrow-download {
        transform: translateY(3px);
      }
    }*/
  }
  .arrow-download {
    margin-left: 2px;
    vertical-align: middle;
    backface-visibility: hidden;
    transition: transform .2s cubic-bezier(.25,.46,.45,.94);
  }
}

.frontpage-list {
  &--showmore {
    .list__item:last-child {
      border-bottom: 0;
    }
  }
  &__item {
    border-top: 2px solid;
    border-bottom: 0;
    &:last-child {
      border-bottom: 2px solid;
    }
  }
  [data-showmore] {
    border-top: 2px solid #000;
    border-bottom: 0;
    cursor: pointer;
    button {
      cursor: pointer;
      background: transparent;
      outline: 0;
      border: 0;
      width: 100%;
      text-align: left;
      color: $color-green;
      padding-left: 0;
      padding-right: 0;
      &:hover svg, &:focus svg {
        transform: translateY(3px);
      }
      &.active {
        svg {
          transform: translateY(0px) rotate(180deg);
        }
        &:hover svg, &:focus svg {
          transform: translateY(3px) rotate(180deg);
        }
      }
      svg {
        width: 11px;
        height: 11px;
        fill: $color-green;
        vertical-align: middle;
        backface-visibility: hidden;
        transition: transform .2s cubic-bezier(.25,.46,.45,.94);
        @media (min-width: $mobile) {
          width: 28px;
          height: 18px;
        }
        @media (min-width: $maxWidth) {
          width: 28px;
          height: 18px;
          margin-top: -2px;
        }
      }
    }
  }
  &__item:not(.list__item--show):nth-child(1n+5) {
    display: none;
  }
}
