.list {
  &--no-style {
    list-style: none;
  }
  &__item {
    &--hover-bg {
      transition: background-color .2s ease;
      &:hover, &:focus {
        background-color: $color-green-light;
      }
    }
    a {
      display: block;
    }
    &:first-child {
      border-top: 2px solid #000;
    }
    border-bottom: 2px solid #000;
  }
}

.resources-list {
  font-size: 0em;
  &__item {
    font-size: 1rem;
    display: inline-block;
    p {
      max-width: 350px;
    }
  }
  .arrow-download {
    margin-left: 2px;
  }
}

.frontpage-list {
  [data-showmore] {
    cursor: pointer;
    button {
      cursor: pointer;
      background: transparent;
      outline: 0;
      border: 0;
      width: 100%;
      text-align: left;
      svg {
        width: 14px;
        height: 14px;
        vertical-align: middle;
      }
    }
  }
  &__item:not(.list__item--show):nth-child(1n+5) {
    display: none;
  }
}
