.article {
  position: relative;
  &-wrap {
    position: relative;
    overflow: hidden;
  }
  h1 {
    margin-top: 100px;
    margin-bottom: 80px;
  }
  .text {
    h2 {
      font-size: 29px;
      line-height: 1.3em;
      margin-top: 60px;
    }
    h3 {
      font-family: $font-neutral-bold;
      font-size: 15px;
      line-height: 1.3em;
      margin-top: 40px;
    }
    h3 + p {
      margin-top: 5px;
    }
    p {
      font-family: $font-neutral;
      font-size: 14px;
      line-height: 24px;
      margin-top: 25px;
    }
    a {
      color: $color-green;
      border-bottom: 1px solid;
    }
  }
  .accordion {
    margin-top: 40px;
    &__button {
      border: 0;
      background: transparent;
      margin: 0;
      padding: 0;
    }
  }
}
