$headingH1: 5.2vw;
$headingH3: 2.5vw;


h1 {
  margin: 0;
  font-size: 34px;
  line-height: 1.375;
  @media (min-width: $mobile) {
    font-size: 5.2vw;
    line-height: 7.3vw;
  }
  @media (max-width: $mobile) and (min-width: $mobile-smallest) {
    font-size: 58px;
    line-height: 1.375;
  }
  @media (min-width: $maxWidth) {
    line-height: 130px;
    font-size: 100px;
  }
}

h2 {
  font-size: 32px;
  line-height: 1.475;
  @media (min-width: $mobile) {
    font-size: 4.5vw;
    line-height: 6.2vw;
  }
  @media (min-width: $maxWidth) {
    font-size: 80px;
    line-height: 110px;
  }
}

h2.custom-heading {
  font-size: 26px;
  line-height: 1.375;
  @media (min-width: $mobile) {
    font-size: 3.5vw;
    line-height: 4.5vw;
  }
  @media (min-width: $maxWidth) {
    font-size: 80px;
    line-height: 105px;
  }
}

h3, .article .text h2, .search__input, .login__input {
  font-size: 26px;
  line-height: 1.375;
  @media (min-width: $mobile) {
    font-size: 2.2vw;
    line-height: 3.4vw;
  }
  @media (min-width: $maxWidth) {
    font-size: 50px;
    line-height: 60px;
  }
}

.paragraph, .lh-button, .article .accordion__button, .example__button, .lh-button__radio,
.article p, .article li, .article a, .article b, .article h3, .login__placeholder, .quote__title {
  font-family: $font-neutral;
  font-size: 16px;
  line-height: 26px;
  @media (min-width: $break-1366) {
    font-size: 1.2vw;
    line-height: 2.2vw;
  }
  @media (min-width: $maxWidth) {
    font-size: 26px;
    line-height: 38px;
  }
}

.article b, .article .accordion__button {
  font-family: $font-neutral-bold;
}

.article p, .article li, .article, .article h3, .article b, .article .accordion__button {
  line-height: 30px;
  @media (min-width: $break-1366) {
    line-height: 2.1vw;
  }
  @media (min-width: $maxWidth) {
    line-height: 46px;
  }
}

.lead-p {
  font-size: 18px;
  line-height: 28px;
  @media (min-width: $mobile) {
    font-size: 1.8vw;
    line-height: 2.9vw;
  }
  @media (min-width: $maxWidth) {
    font-size: 40px;
    line-height: 1.375;
  }
}

h1, h2, h3 {
  font-weight: 100;
  -webkit-font-smoothing: subpixel-antialiazed;
  -moz-osx-font-smoothing: grayscale;
}
