.list {
  &--no-style {
    list-style: none;
  }
  &__item {
    &:first-child {
      border-top: 2px solid #000;
    }
    border-bottom: 2px solid #000;
    font-size: 14px;
    padding: 13px 0px 11px 0px;
    @media (min-width: $mobile) {
      font-size: calc(12px + 0.3vw);
      padding: calc(13px + 0.2vw) 0px calc(11px + 0.2vw) 2px
    }
  }
}

.resources-list {
  font-size: 0em;
  &__item {
    font-size: 1rem;
    display: inline-block;
    p {
      max-width: 350px;
    }
  }
  .arrow-download {
    margin-left: 2px;
  }
}
