button {
    outline: none;
}

h1, h2, h3 {
  a {
    text-decoration: none;
    color: inherit;
  }
}

.paragraph a:not([class]) {
  @extend .border--bottom-thin;
  @extend .hover;
  @extend .hover--green;
}