.article {
  &__text {
    max-width: 600px;
    margin: 0 auto;
    p {
      font-family: $font-neutral;
      font-size: 18px;
      line-height: 32px;
      margin-top: 25px;
    }
    h3 {
      margin-top: 60px;
    }
  }
}
