html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
  background: $color-green-light;
}

body {
  font-family: $font-larish;
  &.formOpen {
    overflow-y: hidden;
  }
}

.t-smooth {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  outline: 0;
}

[data-reveal] {
    visibility: hidden;
    opacity: 0;
}

[data-reveal].revealed {
    visibility: visible;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    padding: 2px;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
    padding: 2px;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
    padding: 2px;
}

a {
    color: inherit;
    text-decoration: none;
}

em {
  font-style: normal;
}
